@import "tailwindcss";
@layer base {
  h2 {
    @apply text-xl sm:text-3xl text-center;
  }
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(./images/house-1867187_1920.jpg);
    background-position: center;
    background-size: cover;
  }
  button {
    font-weight: bold;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}
.show1 {
  animation: pop-left 1s;
}
.show2 {
  animation: pop-right 1s;
}
.hero-text,
.brand,
.projects,
.feedback,
.modal {
  animation-fill-mode: forwards;
}
.apartment-img {
  border-radius: 30% 60% 0 0;
}
@keyframes pop-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@keyframes pop-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-20%);
  }
}
@keyframes nav-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}
@keyframes pop-right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(20%);
  }
}
